[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
aiohttp-swagger = "*"
aiohttp-jwt = "*"
pyjwt = "*"
sqlalchemy = "*"
alembic = "*"
bcrypt = "*"
python-dotenv = "*"
psycopg2-binary = "*"
aiohttp-autoreload = "*"
asyncpg = "*"
dependency-injector = "*"
cerberus = "*"

[dev-packages]

[requires]
python_version = "3.9"
